{%- block form_start -%}
    <form id="registerForm">
        <div class="form-group text-danger errors" style="display:none;">
            <strong>{% trans %}ERROR{% endtrans %}!</strong>
            <span id="internalError">{% trans %}INTERNAL_ERROR{% endtrans %}</span>
            <span id="noConnectionError">{% trans %}NO_CONNECTION_ERROR{% endtrans %}!</span>
        </div>
{%- endblock form_start -%}

{%- block form_widget_compound -%}
    {{- block('form_rows') -}}
{%- endblock form_widget_compound -%}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}

{%- block widget_attributes -%}
    name="{{ name }}"
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{%- block form_widget_simple -%}
    <input type="{{ type|default('text') }}" class="form-control" {{ block('widget_attributes') }} />
{%- endblock form_widget_simple -%}

{%- block button_widget -%}
    <p class="text-center" style="font-size: 12px;">
        {% trans %}REGISTER_FORM_ACCEPT_RULES_INFO_PART_1{% endtrans %}
        <a href="#">{% trans %}REGISTER_FORM_ANNOTATION_1{% endtrans %}</a>.
        <a href="#">{% trans %}REGISTER_FORM_ANNOTATION_2{% endtrans %}</a>
        {% trans %}REGISTER_FORM_ACCEPT_RULES_INFO_PART_2{% endtrans %}
    </p>
    <div class="form-group">
        <button type="{{ type|default('button') }}" class="btn btn-primary btn-block" {{ block('attributes') }}>
            <span class="text">{{ name|trans }}</span>
            <span class="loading" style="display:none;">
                <span class="spinner-border" role="status" aria-hidden="true" style="margin-right: 3px; border-width: .2em"></span> {% trans %}LOADING{% endtrans %}...
            </span>
        </button>
    </div>
    <p class="text-center" style="margin-top: -10px;">
        {% trans %}REGISTER_FORM_ACCOUNT_QUESTION{% endtrans %} <a href="">{% trans %}SIGN_IN{% endtrans %}</a>
    </p>
    <div class="g-recaptcha" data-sitekey="6LeZ9p8UAAAAAHcdbffht-BKLHu1rTd94BuxmM9C" data-size="invisible" style="display:none;" data-callback="onRegisterSubmit"></div>
{%- endblock button_widget -%}

{% block form_row %}
    <div class="form-group input-group">
        {% if label_attr.icon_class is defined %}
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa {{ label_attr.icon_class }}"></i>
            </span>
        </div>
        {% endif %}
        {{ form_widget(form) }}
        {% if label_attr.error is defined %}
        <small id="{{ label_attr.error.id }}" class="form-text text-danger" style="display:none;">
            <strong>{% trans %}ERROR{% endtrans %}!</strong> {{ label_attr.error.msg|trans }}
        </small>
        {% endif %}
    </div>
{% endblock %}
